body {
  margin: 0;
  padding: 0;
  background-color: #e9e0e0;
}

a {
  color: #000;
}


/* nav */

nav {
  position: fixed;
  top: 0;
}

.nave {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nave ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.nave li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.nave li a:hover,
.nave .menu-btn:hover {
  background-color: #f4f4f4;
}

.nave .logo {
  display: block;
  font-size: 1.5em;
  padding: 10px 100px;
  text-decoration: none;
  font-family: cursive;
}


/* menu */

.nave .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

.nave .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 2px 20px;
  position: relative;
  user-select: none;
  bottom: 25px;
}

.nave .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nave .menu-icon .navicon:before,
.nave .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nave .menu-icon .navicon:before {
  top: 5px;
}

.nave .menu-icon .navicon:after {
  top: -5px;
}


/* menu btn */

.nave .menu-btn {
  display: none;
}

.nave .menu-btn:checked~.menu {
  max-height: 240px;
}

.nave .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.nave .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nave .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nave .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nave .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* header */

header {
  margin-top: 54px;
  height: 60px;
  text-align: center;
  font-size: 0.5em;
  background-color: rgb(155, 150, 150);
  padding-bottom: 3em;
}

header h1 {
  padding-top: 20px;
  font-size: 1.5em;
  text-align: center;
}

li a:hover:not(.active) {
  transition: all 700ms;
  background-color: rgb(202, 202, 202);
}


/* 48em = 768px */

@media (min-width: 48em) {
  .nave li {
      float: left;
  }
  .nave li a {
      padding: 20px 30px;
  }
  .nave .menu {
      clear: none;
      float: right;
      max-height: none;
  }
  .nave .menu-icon {
      display: none;
  }
  header {
      font-size: 1em;
  }
  .nave .logo {
      float: left;
      font-size: 2em;
  }
}

  input[type=text], textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  select{
    width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: salmon;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
  }
  
  input[type=submit]:hover {
    background-color: rgb(241, 190, 190);
    transition: 0.4s;
  }
  
  .containerform {
    border-radius: 5px;
    margin: auto;
    padding-top: 2em;
  }
  
  .col-75 {
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  form{
    margin-left: 25%;
    margin-right: auto;
    
  }

  .contact{
    text-align: center;
  }

  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  footer {
    background-color: rgb(155, 150, 150);
    display: grid;
    padding-bottom: 9px;
}

.list {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
}

.socialnetworks {
    display: flex;
    justify-content: center;
    border-bottom: .0625rem solid #17151540;
}

#follow,
#created,
#name {
    text-align: center;
}

li {
    margin: 0 0.3rem;
}


/* Style all font awesome icons */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding-left: 10px;
}


/* Instagram */

.fa-instagram {
    color: #fff;
    background-color: #d83174;
    padding-left: 10px;
}


/* GitHub */

.fa-github {
    color: #fff;
    background-color: #171515;
    padding-left: 10px;
}

#logowild {
    width: 175px;
    height: 75px;
}

.logo {
    text-align: center;
}

#name {
    margin-bottom: 40px;
    margin-top: 0px;
}

#copyright {
    margin-top: 10px;
}

#created {
    margin-bottom: 5px;
    margin-top: 20px;
}

.footer-bottom {
    text-align: center;
}


/*Media quieries*/

@media (min-width: 48em) {
    .mainfooter {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 20px;
        border-right-width: 0px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .footer-center {
        padding-right: 126px;
        padding-left: 126px;
        padding-top: 15px;
    }
    .footer-right {
        padding-top: 38px;
    }
}
