 body {
     margin: 0;
     /* font-family: Helvetica, sans-serif; */
     background-image: url(https://www.aeroportlimoges.com/fileadmin/user_upload/voyages-2.jpg);
     color: white;
     
 }
 
 a {
     color: #000;
 }
 /* nav */
 
 nav {
     position: fixed;
     top: 0;
 }
 
 .nave {
     background-color: #fff;
     box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
     position: fixed;
     width: 100%;
     z-index: 3;
 }
 
 .nave ul {
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     background-color: #fff;
 }
 
 .nave li a {
     display: block;
     padding: 20px 20px;
     border-right: 1px solid #f4f4f4;
     text-decoration: none;
 }
 
 .nave li a:hover,
 .nave .menu-btn:hover {
     background-color: #f4f4f4;
 }
 
 .nave .logo {
     display: block;
     font-size: 1.2em;
     padding: 10px 100px;
     text-decoration: none;
     font-family: cursive;
 }
 /* menu */
 
 .nave .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
 }
 /* menu icon */
 
 .nave .menu-icon {
     cursor: pointer;
     display: inline-block;
     float: left;
     padding: 2px 20px;
     position: relative;
     user-select: none;
     bottom: 25px;
 }
 
 .nave .menu-icon .navicon {
     background: #333;
     display: block;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
 }
 
 .nave .menu-icon .navicon:before,
 .nave .menu-icon .navicon:after {
     background: #333;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
 }
 
 .nave .menu-icon .navicon:before {
     top: 5px;
 }
 
 .nave .menu-icon .navicon:after {
     top: -5px;
 }
 /* menu btn */
 
 .nave .menu-btn {
     display: none;
 }
 
 .nave .menu-btn:checked~.menu {
     max-height: 240px;
 }
 
 .nave .menu-btn:checked~.menu-icon .navicon {
     background: transparent;
 }
 
 .nave .menu-btn:checked~.menu-icon .navicon:before {
     transform: rotate(-45deg);
 }
 
 .nave .menu-btn:checked~.menu-icon .navicon:after {
     transform: rotate(45deg);
 }
 
 .nave .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
 .nave .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
     top: 0;
 }
 /* header */
 
 header {
     margin-top: 55px;
     /* background-size: 10px 700px; */
     height: 150px;
 }
 
 header,
 h1 {
     margin: auto;
     padding-top: 40px;
     text-align: center;
     font-size: 1.2em;
     font-family: 'Viaoda Libre', cursive;

 }
 
 header p {
     font-weight: lighter;
     font-style: italic;
     text-align: center;
     margin: 20px;
 }
 
 .describe {
     font-size: 0.5em;
 }
 
 .Maintitle {
     text-align: left;
     font-size: 2em;
     float: top left;
     margin-bottom: 20px;
     text-align: center;
     text-shadow: 0.1em 0.1em 0.2em black;
     color: white;
 }
 
 .bodyarticles {
     margin: 0;
     place-items: center;
     display: flex;
     flex-wrap: wrap;
     overflow: hidden;
 }
 
 .Top3 {
     display: grid;
     justify-content: space-around;
 }
 
 .Toparticle {
     background: rgb(245, 173, 107);
     border-radius: 1em;
     padding: 1.3rem;
     margin-bottom: 10px;
     box-shadow: 1px 1px 5px 1px;
     font-family: font-family: 'Viaoda Libre', cursive;
 }
@media (max-width: 48em){
 img{
     max-width: 100%;
 }
 .Toparticle{
     padding-left: 20px ;
     padding-right: 20px;
 }
}
 .Toparticle:hover {
     transform: translateY(-1rem);
 }
 /* 48em = 768px */
 
 @media (min-width: 48em) {
     .nave li {
         float: left;
     }
     .nave li a {
         padding: 20px 30px;
     }
     .nave .menu {
         clear: none;
         float: right;
         max-height: none;
         font-size: 1.5em;
     }
     .nave .menu-icon {
         display: none;
     }
     header {
         margin: 10px;
         font-size: 1em;
         height: 500px;
     }
     .nave .logo {
         float: left;
         font-size: 2em;
     }
     /* header */
     header,
     h1 {
         font-size: 3em;
         padding-top: 80px;
     }
     .bodyarticles {
         margin: 0;
         display: grid;
         place-items: center;
         overflow: hidden;
     }
     .Top3 {
         display: flex;
     }
     .Toparticle {
         background: rgb(212, 163, 114);
         border-radius: 1em;
         padding: 1rem;
         box-shadow: 1px 2px 12px 2px;
         margin-bottom: 100px;
         font-size: 1.5em;
        }
     .Maintitle {
         font-size: 4.8em;
         margin-bottom: 100px;
         color: white;
         text-shadow: 0.3em 0.3em 0.2em black
     }
     .Toparticle:not(:first-child) {
         margin-left: -2rem;
     }
 }
 /*FOOTER*/
 
 footer {
     background-color: rgb(155, 150, 150);
     width: 101%;
     display: grid;
 }
 
 .list {
     display: flex;
     list-style: none;
     padding-left: 0px;
     margin-top: 0px;
 }
 
 .socialnetworks {
     display: flex;
     justify-content: center;
     border-bottom: .0625rem solid #17151540;
 }
 
 #follow,
 #created,
 #name {
     text-align: center;
 }
 
 li {
     margin: 0 0.3rem;
 }
 /* Style all font awesome icons */
 
 .fa {
     padding: 20px;
     font-size: 30px;
     width: 15px;
     text-align: center;
     text-decoration: none;
     border-radius: 50%;
 }
 /* Add a hover effect if you want */
 
 .fa:hover {
     opacity: 0.7;
 }
 /* Set a specific color for each brand */
 /* Facebook */
 
 .fa-facebook {
     background: #3B5998;
     color: white;
 }
 /* Twitter */
 
 .fa-twitter {
     background: #55ACEE;
     color: white;
 }
 /* Instagram */
 
 .fa-instagram {
     color: #fff;
     background-color: #d83174;
 }
 /* GitHub */
 
 .fa-github {
     color: #fff;
     background-color: #171515;
 }
 
 #logowild {
     width: 175px;
     height: 75px;
 }
 
 .logo {
     text-align: center;
 }
 
 #name {
     margin-bottom: 40px;
     margin-top: 0px;
 }
 
 #copyright {
     margin-top: 10px;
 }
 
 #created {
     margin-bottom: 5px;
     margin-top: 20px;
 }
 
 .footer-bottom {
     text-align: center;
 }
 /*Media quieries*/
 
 @media (min-width: 48em) {
     .mainfooter {
         flex-direction: row;
         display: flex;
         justify-content: space-between;
         margin-top: 20px;
         margin-left: 20px;
         border-right-width: 0px;
         margin-right: 20px;
         margin-bottom: 20px;
     }
     .footer-center {
         padding-right: 126px;
         padding-left: 126px;
         padding-top: 15px;
     }
     .footer-right {
         padding-top: 38px;
     }
 }